description "{{geth_service_name}}"

start on runlevel [2345]
stop on shutdown

respawn
respawn limit 10 5

setuid {{geth_service_uid}}

script
  exec bash -c '{{geth_service_executable}} {% if geth_service_devmode %}--dev{% endif %} --verbosity {{ geth_service_verbosity}} {% if geth_service_rpc %}--rpc --rpcport "{{geth_service_rpcport}}" --rpcapi "{{geth_service_rpcapi}}" --rpcaddr "{{geth_service_rpcaddr}}" --rpccorsdomain="{{geth_service_rpccorsdomain}}"{% endif %} --datadir {{geth_service_datadir}} >>{{geth_service_logdir}}/{{geth_service_name}}.log 2>&1'
end script
