.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.jumbotron.register {
  background-image: url("/assets/images/tacho-f01.jpg");
  color: whitesmoke;

}

.navbar-text {
  margin-left: 15px;
}
